
{% extends 'super/base.html' %}
{% load i18n %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% get_static_prefix as STATIC_URL %}

{% block main %}
    <!-- START CONTENT -->
    <section id="content">
       <!--start container-->
        <div class="container">
			<div class="row">
                <div class="col s12 m12 l12">
                    <div class="card-panel">
                        <h4 class="header2">{% trans 'delete brand' %}</h4>
                        <div class="row">
                            {% include "super/partials/delete.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!--end container-->
    </section>

{% endblock %}
{% block main_extra_script %}
    <script type="text/javascript" src="{% static 'js/super/js/plugins/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/super/js/materialize.min.js' %}"></script>   
{% endblock %}