   {% load static %}

    <!-- CORE CSS-->    
    <link href="{% static 'css/super/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/super/css/style.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- CSS for full screen (Layout-2)-->    
    <link href="{% static 'css/super/css/layouts/style-fullscreen.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link href="{% static 'css/super/css/custom/custom.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{% static 'js/super/js/plugins/perfect-scrollbar/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'js/super/js/plugins/jvectormap/jquery-jvectormap.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'js/super/js/plugins/chartist-js/chartist.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'js/super/js/plugins/sweetalert/sweetalert.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
