{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load l10n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% load humanize %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">

  <!--================================================================================
    Item Name: Materialize - Material Design Admin Template
    Version: 3.1
    Author: GeeksLabs
    Author URL: http://www.themeforest.net/user/geekslabs
  ================================================================================ -->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>{%  trans 'Gestion servicios' %}</title>

    <!-- Favicons-->
    <link rel="icon" href="{% static 'img/super/images/favicon/favicon-32x32.png' %} " sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="{% static 'img/super/images/favicon/mstile-144x144.png' %}">
    <!-- For Windows Phone -->
    {% include "super/partials/styles.html" %}

    {% block extra_style  %} {% endblock %}
  </head>

    <body>
        <!-- Start Page Loading -->
        <div id="loader-wrapper">
            <div id="loader"></div>        
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End Page Loading -->

        <!-- START HEADER -->
        {% include 'super/partials/header.html' %}
        <!-- END HEADER -->

        <!-- START MAIN -->
        <div id="main" >
            <!-- START WRAPPER -->
            <div class="wrapper" >
                {% include 'super/partials/left_sidebar_nav.html' %}
                {% block main %} {% endblock %}
                {% include 'super/partials/right_sidebar_nav.html' %}               
            </div>
            <!-- END WRAPPER -->
        </div>
        <!-- END MAIN -->
        {% include 'super/partials/footer.html' %}
        <!-- ================================================
          Scripts
        ================================================ -->
        {% block main_extra_script  %} {% endblock %}
         {% include 'super/partials/script.html' %}
        {% block extra_script  %} {% endblock %}
        <!-- Toast Notification -->
        <script type="text/javascript">
            // Toast Notification

            function change_language(code){
                $("#language").val(code);
                $("#change_language").submit();
            }

        </script>
        {% if messages %}
            {% for message in messages %}
                <script type="text/javascript">
                    Materialize.toast('<div class"card green">{{message}}</div>', 3000);
                </script>
             
            {% endfor %}
        {% endif %}

       
       
    </body>
    
</html>